<h1>our cocktails</h1>
 <div class="container" style="display:flex; justify-content: space-around; margin-bottom: 20px;">
<%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-info"  %>
</div>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
          <% if cocktail.photo %>
            <div class="card-header" style="background-image: url('<%= image_path cocktail.photo %>')">
            </div>
          <% else %>
            <div class="card-header" style="background-image: url('<%= image_path 'bottle.jpg' %>')">
            </div>
            <% end %>
          <div class="card-body">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


